global:
  edition: ce
  hosts:
    domain: localhost
    https: false
  ingress:
    configureCertmanager: false
    class: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web
  kas:
    enabled: false
  spamcheck:
    enabled: false
  grafana:
    enabled: false

nginx-ingress:
  enabled: false

installCertmanager: false

prometheus:
  install: false

gitlab-runner:
  install: false

gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
    workerProcesses: 2
    resources:
      requests:
        memory: 512Mi
        cpu: 300m
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
    resources:
      requests:
        memory: 512Mi
        cpu: 300m
  gitlab-shell:
    minReplicas: 1
    maxReplicas: 1
  toolbox:
    replicas: 1
