apiVersion: v1
kind: Service
metadata:
  name: playground
  namespace: dev
spec:
  type: NodePort
  selector:
    app: playground
  ports:
    - port: 8888
      targetPort: 8888
      nodePort: 30083
